### Import data - Clean the data - Answer question 2

In [179]:
import numpy as np
import pandas as pd

In [180]:
p1=pd.read_csv('/Users/macbook/Documents/IRON  HACK/Project 1/US job market_project 1/alldata.csv')

In [181]:
p1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 272.2+ KB

In [182]:
p1.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [183]:
p1.shape

(6964, 5)

#### Check duplicates

In [184]:
p1_dups=p1[p1.duplicated()]
print (p1_dups)

     position company description  reviews location
331       NaN     NaN         NaN      NaN      NaN
466       NaN     NaN         NaN      NaN      NaN
482       NaN     NaN         NaN      NaN      NaN
3337      NaN     NaN         NaN      NaN      NaN
5014      NaN     NaN         NaN      NaN      NaN
5059      NaN     NaN         NaN      NaN      NaN
5103      NaN     NaN         NaN      NaN      NaN
5114      NaN     NaN         NaN      NaN      NaN
6093      NaN     NaN         NaN      NaN      NaN
6168      NaN     NaN         NaN      NaN      NaN

In [185]:
df=p1.drop_duplicates()

In [186]:
df.shape

(6954, 5)

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6954 entries, 0 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 326.0+ KB

In [188]:
df.reset_index(drop=True, inplace=True)

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6954 entries, 0 to 6953
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 271.8+ KB

#### Remove rows with all null values

In [190]:
df['reviews'] = df['reviews'].fillna(0)

<ipython-input-190-a287a3421fd5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviews'] = df['reviews'].fillna(0)

In [191]:
df = df.dropna(axis=0, how = 'any')
sum(df.isnull().any(axis=1))

0

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6953 entries, 0 to 6953
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      6953 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 325.9+ KB

#### Remove digits in column ['location']

In [193]:

df['location'] = df['location'].str.replace('\d+', '')

<ipython-input-193-e6a42df0b54d>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['location'] = df['location'].str.replace('\d+', '')

In [194]:
df['location'].unique()

array(['Atlanta, GA  ', 'Atlanta, GA', 'Atlanta, GA ', 'Austin, TX',
       'Austin, TX ', 'Round Rock, TX ', 'Cedar Park, TX ',
       'Round Rock, TX', 'Boulder, CO', 'Boulder, CO ', 'Boston, MA',
       'Boston, MA ', 'Chicago, IL', 'Chicago, IL ', 'Washington, DC ',
       'Washington, DC', 'Los Angeles, CA', 'Los Angeles, CA ',
       'Cambridge, MA', 'Cambridge, MA ', 'Mountain View, CA ',
       'Mountain View, CA', 'Manhattan, NY', 'New York, NY',
       'New York, NY ', 'Jersey City, NJ', 'Newark, NJ', 'Oakland, NJ',
       'Bronx, NY', 'Hoboken, NJ ', 'Brooklyn, NY', 'Rutherford, NJ',
       'Union, NJ ', 'Rahway, NJ', 'Newark, NJ ', 'Jersey City, NJ ',
       'Murray Hill, NJ', 'South Plainfield, NJ', 'New York, NY  ',
       'Hoboken, NJ', 'Queens, NY', 'Little Falls, NJ',
       'Florham Park, NJ ', 'Troy Hills, NJ', 'Bloomfield, NJ',
       'Lynbrook, NY', 'Allendale, NJ', 'Parsippany, NJ',
       'West Orange, NJ ', 'Kenilworth, NJ', 'Ridgefield, NJ',
       'Harrison, NY', 'Montclair, NJ', 'Fort Lee, NJ', 'Carlstadt, NJ ',
       'Orangeburg, NY ', 'Jersey City, NJ  ', 'Fairfield, NJ',
       'Palisades, NY', 'Hackensack, NJ', 'Roseland, NJ ',
       'East Hanover, NJ ', 'Long Beach, NY ', 'Whippany, NJ',
       'Union, NJ', 'Brooklyn, NY  ', 'Manhasset, NY ', 'Yonkers, NY ',
       'New Hyde Park, NY ', 'Secaucus, NJ', 'Port Washington, NY ',
       'Staten Island, NY', 'Short Hills, NJ', 'Manhattanville, NY',
       'Woodcliff Lake, NJ', 'Brooklyn, NY ', 'Redmond, WA ',
       'Redmond, WA', 'San Diego, CA', 'San Diego, CA ', 'Bedminster, NJ',
       'New Brunswick, NJ', 'Seattle, WA ', 'Seattle, WA',
       'San Francisco, CA ', 'Redwood City, CA', 'San Francisco, CA',
       'San Mateo, CA', 'Redwood City, CA ', 'Berkeley, CA',
       'San Francisco Bay Area, CA', 'Menlo Park, CA ', 'Emeryville, CA',
       'Oakland, CA', 'South San Francisco, CA', 'Foster City, CA',
       'Oakland, CA ', 'Emeryville, CA ', 'South San Francisco, CA ',
       'San Carlos, CA ', 'San Mateo, CA ', 'Union City, CA ',
       'Burlingame, CA ', 'Belmont, CA', 'Richmond, CA ', 'Richmond, CA',
       'Berkeley, CA ', 'Hayward, CA', 'Novato, CA', 'Burlingame, CA',
       'Alameda, CA ', 'San Rafael, CA', 'Alameda, CA',
       'Pleasant Hill, CA', 'San Bruno, CA', 'Novato, CA ',
       'San Ramon, CA', 'Lafayette, CA', 'San Leandro, CA',
       'Hayward, CA ', 'San Carlos, CA', 'Daly City, CA ',
       'Mill Valley, CA ', 'Fremont, CA ', 'San Bruno, CA ',
       'Belmont, CA ', 'Martinez, CA', 'Walnut Creek, CA',
       'Kentfield, CA ', 'Walnut Creek, CA ', 'Sunnyvale, CA',
       'Sunnyvale, CA '], dtype=object)

#### Split 2 columns: city, state from location

In [195]:
df[['city','state']]= df.location.str.split(", ", expand=True,)

In [196]:
df['city'].unique()

array(['Atlanta', 'Austin', 'Round Rock', 'Cedar Park', 'Boulder',
       'Boston', 'Chicago', 'Washington', 'Los Angeles', 'Cambridge',
       'Mountain View', 'Manhattan', 'New York', 'Jersey City', 'Newark',
       'Oakland', 'Bronx', 'Hoboken', 'Brooklyn', 'Rutherford', 'Union',
       'Rahway', 'Murray Hill', 'South Plainfield', 'Queens',
       'Little Falls', 'Florham Park', 'Troy Hills', 'Bloomfield',
       'Lynbrook', 'Allendale', 'Parsippany', 'West Orange', 'Kenilworth',
       'Ridgefield', 'Harrison', 'Montclair', 'Fort Lee', 'Carlstadt',
       'Orangeburg', 'Fairfield', 'Palisades', 'Hackensack', 'Roseland',
       'East Hanover', 'Long Beach', 'Whippany', 'Manhasset', 'Yonkers',
       'New Hyde Park', 'Secaucus', 'Port Washington', 'Staten Island',
       'Short Hills', 'Manhattanville', 'Woodcliff Lake', 'Redmond',
       'San Diego', 'Bedminster', 'New Brunswick', 'Seattle',
       'San Francisco', 'Redwood City', 'San Mateo', 'Berkeley',
       'San Francisco Bay Area', 'Menlo Park', 'Emeryville',
       'South San Francisco', 'Foster City', 'San Carlos', 'Union City',
       'Burlingame', 'Belmont', 'Richmond', 'Hayward', 'Novato',
       'Alameda', 'San Rafael', 'Pleasant Hill', 'San Bruno', 'San Ramon',
       'Lafayette', 'San Leandro', 'Daly City', 'Mill Valley', 'Fremont',
       'Martinez', 'Walnut Creek', 'Kentfield', 'Sunnyvale'], dtype=object)

#### Extract to excel for Tableau

In [197]:
df.to_excel('/Users/macbook/Documents/IRON  HACK/Project 1/citystate.xlsx', index = False)

/Users/macbook/opt/anaconda3/lib/python3.8/site-packages/xlsxwriter/worksheet.py:941: UserWarning: Ignoring URL 'https://video.digi-me.com/prudential/jobs/Finance/Customer%20Office/ZP0058
If%20your%20skills%20reside%20at%20the%20intersection%20of%20analytics,%20technology,%20business%20and%20innovation,%20then%20we%20have%20a%20unique%20and%20exciting%20opportunity%20for%20you!
Prudential%20Financial%20is%20looking%20for%20a%20motivated%20Data%20Scientist%20to%20join%20our%20diverse%20team%20of%20Engineers,%20Economists,%20Computer%20Scientists,%20Mathematicians,%20Physicists,%20Statisticians%20and%20Actuaries%20tasked%20with%20mining%20our%20industry-leading%20internal%20data%20to%20develop%20new%20analytics%20capabilities%20for%20our%20businesses.
The%20role%20requires%20a%20rare%20combination%20of%20sophisticated%20analytical%20expertise;%20business%20acumen;%20strategic%20mindset;%20client%20relationship%20skills,%20project%20management;%20and%20a%20passion%20for%20generating%20business%20impact.%20This%20is%20an%20exciting%20opportunity%20to%20be%20a%20part%20of%20a%20strategic%20initiative%20that%20is%20evolving%20and%20growing%20over%20time.
Primary%20responsibilities%20for%20this%20position%20include%20leading,%20designing,%20building,%20testing%20and%20presenting%20forward-thinking,%20high-impact%20Data%20Science%20projects%20focused%20on%20strategic%20business%20initiatives.
Prudential%20Financial%20employs%2048,000%20across%20the%20US,%20Asia,%20Europe%20and%20Latin%20America%20providing%20insurance,%20investment%20management%20and%20other%20financial%20products%20that%20are%20vital%20to%20the%20wellbeing%20of%20our%20customers%20and%20their%20families%20in%20over%2030%20countries.%20Prudential%20is%20reinvigorating%20Newark’s%20downtown%20area%20with%20our%20new%20Prudential%20Tower%20and%20Hain%20building%20development.%20Newark%20is%20Prudential’s%20Global%20Headquarters%20with%20over%205,000%20employees%20across%20four%20downtown%20locations.%20We’re%20located%20a%20short%20walk%20or%20shuttle%20ride%20from%20Newark’s%20Penn%20and%20Broad%20Street%20Stations:%20a%20direct%20train%20ride%20or%20short%20drive%20(with%20free%20parking)%20from%20most%20of%20Northern%20and%20Central%20New%20Jersey%20and%20New%20York%20City.
Responsibilities:
Develop%20and%20maintain%20consultative%20relationships%20with%20key%20business%20stakeholders
Identify,%20source,%20transform%20and%20join%20public,%20proprietary%20and%20internal%20data%20sources
Model%20large%20structured%20and%20unstructured%20data%20sources%20(e.g.%20financial%20transactional,%20time-series,%20text,%20speech/audio%20and%20image)
Implement%20advanced%20statistical%20methods%20for%20prediction%20and%20optimization%20including%20a%20wide%20variety%20of%20machine%20learning%20technologies%20(logit,%20regression,%20decision%20trees/forests,%20boosted%20models,%20clustering,%20etc.)%20for%20purposes%20including%20explorative%20analysis,%20survival%20analysis,%20segmentation,%20prediction%20and%20recommendation%20systems
Perform%20analysis%20and%20implement%20solutions%20that%20maximize%20business%20impact
Prepare%20and%20present%20written%20and%20verbal%20reports%20to%20key%20stakeholders
Some%20domestic%20travel%20may%20be%20required
Execute%20all%20aspects%20of%20an%20advanced%20analytical%20projects%20with%20minimal%20guidance
Identify%20analytical%20solutions%20for%20business%20problems
Qualifications
Advanced%20degree%20(Masters,%20Ph.D.)%20in%20Mathematics,%20Statistics,%20Engineering,%20Econometrics,%20Physics,%20Computer%20Science,%20Actuarial,%20Data%20Science,%20or%20comparable%20quantitative%20disciplines
A%20minimum%20of%20four%20years%20of%20industry%20experience%20with%20responsibility%20for%20developing%20advanced%20quantitative,%20analytical,%20statistical%20solutions
Hands-on%20experience%20applying%20a%20wide%20variety%20of%20statistical%20machine%20learning%20techniques%20to%20real%20world%20problems%20spanning%20analysis,%20predictive%20modeling%20and%20optimization%20on%20structured%20and%20unstructured%20data
Experience%20using%20tools%20such%20as%20Python,%20R,%20Matlab,%20SAS,%20SPSS%20or%20equivalent%20for%20statistical%20modeling%20of%20large%20data%20sets
Well-developed%20written%20and%20oral%20communication%20skills%20with%20ability%20to%20present%20complex%20statistical%20concepts%20to%20non-analytical%20stakeholders%20(Excel,%20Word%20and%20PowerPoint%20are%20a%20must)
Software%20engineering%20experience%20in%20C/C++/C' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "

### Deal with text mining

In [198]:
import nltk
import os
import nltk.corpus
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/macbook/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [254]:
df['description']=df['description'].str.lower()

In [255]:
df['position']=df['position'].str.lower()

In [256]:
df['description']=df['description'].str.replace('[^\w\s\d]',' ')

<ipython-input-256-1c623e9aa4bb>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['description']=df['description'].str.replace('[^\w\s\d]',' ')

In [257]:
df['description']=df['description'].str.replace(r'[^a-zA-Z0-9]',' ')

<ipython-input-257-990ad181aca3>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['description']=df['description'].str.replace(r'[^a-zA-Z0-9]',' ')

In [258]:
df['description']=df['description'].str.replace(r'\n',' ')

<ipython-input-258-adb0c8ebd8cd>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['description']=df['description'].str.replace(r'\n',' ')

In [259]:
df['description']=df['description'].str.replace('[^\w\s\d]',' ')

<ipython-input-259-1c623e9aa4bb>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['description']=df['description'].str.replace('[^\w\s\d]',' ')

In [265]:
tool_list = ['python','sql','java','scala','excel',
               'aws','hadoop','spark','linux','tableau','sas',
               'linux','sas','hive','oracle','perl',
               'mysql','matlab','html','tensorflow','spss','mongodb']

degree_list = ['master',"masters",'phd','bachelor',"bachelors",
             'high school','No degree requirement']

skills_list = ['machine learning','data analysis','data visualization',
            'modeling','statistical analysis','research','deep learning',
            'optimization','decision tree','logistic','random forest',
            'ab testing','web scraping','neural network','interpersonal skills',
            'communication skills','artificial intelligence']

major_list = ['computer science','data science','statistics','quantitative',
            'mathematics','economics','liberal arts','science','buisness',
            'engineer','engineering','psychology','biology','medicine',
            'marketing','business analysis','chemical engineering','chemistry',
            'public health','public relationship']

In [266]:
def containsKeyword (keyword,description):
    if keyword in description:
        return True
    else: return False

In [262]:
def countKeywords(keywordList, dframe, columnName):
    for k in keywordList:
        dframe[k] = dframe.apply(lambda row : containsKeyword(k,row[columnName]), axis=1)
    return dframe

In [263]:
df_skills = countKeywords(skills_list,df,'description')

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6953 entries, 0 to 6953
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   position                 6953 non-null   object
 1   company                  6953 non-null   object
 2   description              6953 non-null   object
 3   reviews                  6953 non-null   float64
 4   location                 6953 non-null   object
 5   city                     6953 non-null   object
 6   state                    6953 non-null   object
 7   machine learning         6953 non-null   bool
 8   data analysis            6953 non-null   bool
 9   data visualization       6953 non-null   bool
 10  modeling                 6953 non-null   bool
 11  statistical analysis     6953 non-null   bool
 12  research                 6953 non-null   bool
 13  deep learning            6953 non-null   bool
 14  optimization             6953 non-null   bool
 15  decision tree            6953 non-null   bool
 16  logistic                 6953 non-null   bool
 17  random forest            6953 non-null   bool
 18  ab testing               6953 non-null   bool
 19  web scraping             6953 non-null   bool
 20  neural network           6953 non-null   bool
 21  interpersonal skills     6953 non-null   bool
 22  communication skills     6953 non-null   bool
 23  artificial intelligence  6953 non-null   bool
dtypes: bool(17), float64(1), object(6)
memory usage: 808.0+ KB

In [241]:
def totalFrequency(keywordList,dframe):
    keywords = []
    frequency = []
    for k in keywordList:
        keywords.append(k)
        frequency.append(sum(dframe[k]))
    total= pd.DataFrame(columns=['keywords','freq'])
    total['keywords'] = keywords
    total['freq'] = frequency
    return total

In [242]:
skills_total = totalFrequency(skills_list,df_skills)

                   keywords  freq
0          machine learning  2474
1             data analysis  1424
2        data visualization   540
3                  modeling  1643
4      statistical analysis   602
5                  research  4161
6             deep learning   596
7              optimization  1004
8             decision tree   154
9                  logistic   320
10            random forest   130
11               ab testing    12
12             web scraping    11
13           neural network   320
14     interpersonal skills   603
15     communication skills  2662
16  artificial intelligence   485

In [50]:
str1 = " "
for ele in df['description']:
    str1+= ele+ " "
type(str1)

str

In [75]:
from nltk.tokenize import word_tokenize
token = word_tokenize(str1)
type(token)

list

In [25]:
from nltk.corpus import stopwords
stw_ref = stopwords.words('english')

In [26]:
description_list=[x for x in token if x not in stw_ref]

In [27]:
print(description_list[0:20])

['development', 'director', 'als', 'therapy', 'development', 'institute', 'immediate', 'opening', 'development', 'directors', 'reporting', 'directly', 'senior', 'development', 'director', 'development', 'director', 'als', 'tdi', 'senior']

In [28]:
from nltk.probability import FreqDist
fdist = FreqDist(description_list)
fdist

FreqDist({'data': 39765, 'experience': 31664, 'work': 19171, 'team': 16153, 'research': 14500, 'skills': 12744, 'development': 12486, 'business': 11831, 'ability': 10215, 'learning': 9642, ...})